# Function
### print ชื่อ XXX นามสกุล YYY รหัส ZZZ
### print เกรด วิชา Stat 1 >> AAA

In [5]:
a = ('ชื่อ ทรงกลด นามสกุล อาจปา รหัส 603021864-1')
print(a)

ชื่อ ทรงกลด นามสกุล อาจปา รหัส 603021864-1

In [6]:
name = 'ทรงกลด'
surname = 'อาจปา'
ID = '603021864-1'
b = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
print(b)

ชื่อ ทรงกลด นามสกุล อาจปา รหัส 603021864-1

# Function template
~~~ python
def function_name(Input):
      do_something
      return Output
~~~

In [7]:
def print_line1(name1,surname1,ID1):
    st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    return st

## Normal function
#### > ฟังก์ชันปกติ

In [8]:
print(print_line1('กาญจนา','ประสาคุณ','603021855-2'))

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

## Function without output
#### > ฟังก์ชันที่ไม่มี output

In [9]:
def print_2lines(name1,surname1,ID1,grade):
      st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
      print (st)
      st2 = f'เกรดวิชา Stat 1 >> {grade}'
      print (st2)

In [10]:
print_2lines('กาญจนา','ประสาคุณ','603021855-2','A')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2
เกรดวิชา Stat 1 >> A

In [11]:
print_2lines('ศุภนิตา','ดาดวน','603021129-1','A')
print_2lines('กัญญ์รินทร์','อินทจันทร์','603021854-4','A')
print_2lines('ภูวนัตถ์','จันทะกล','603021111-0','A')

ชื่อ ศุภนิตา นามสกุล ดาดวน รหัส 603021129-1
เกรดวิชา Stat 1 >> A
ชื่อ กัญญ์รินทร์ นามสกุล อินทจันทร์ รหัส 603021854-4
เกรดวิชา Stat 1 >> A
ชื่อ ภูวนัตถ์ นามสกุล จันทะกล รหัส 603021111-0
เกรดวิชา Stat 1 >> A

## Error

In [12]:
def print_2lines(name1,surname1,ID1,grade):
      st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
      print (st)
      st2 = f'เกรดวิชา Stat 1 >> {grade}'
        print (st2) #เว้นวรรคไม่ตรงจะเกิด error

IndentationError: unexpected indent (<ipython-input-12-1a001a3abd83>, line 5)

In [13]:
def print_2lines(name1,surname1,ID1,grade):
      st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
      print (st)
      return st #ใช้คำสั่ง return ไปแล้ว จากนั้นมันจะไม่รันผล
      st2 = f'เกรดวิชา Stat 1 >> {grade}'
      print (st2)

In [14]:
print_2lines('กาญจนา','ประสาคุณ','603021855-2','A')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

## Function without input
#### > ฟังก์ชันที่ไม่มี input

In [15]:
def two_x_three():
      x = 2*3
      return x

In [16]:
two_x_three()

6

## function with default argument

In [17]:
def print_2lines_default (name1,surname1,ID1,grade='F'):
      st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
      print (st)
      st2 = f'เกรดวิชา Stat 1 >> {grade}'
      print (st2)

In [18]:
print_2lines_default('กาญจนา','ประสาคุณ','603021855-2')  #ไม่ใส่เกรดมันจะรันผลเป็นเกรดF

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2
เกรดวิชา Stat 1 >> F

In [19]:
print_2lines_default('กาญจนา','ประสาคุณ','603021855-2','A+') #ใส่เกรดจะรันผลตามปกติ

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2
เกรดวิชา Stat 1 >> A+

In [20]:
print_2lines_default(surname1 = 'กาญจนา',name1 = 'ประสาคุณ',ID1 = '603021855-2')

ชื่อ ประสาคุณ นามสกุล กาญจนา รหัส 603021855-2
เกรดวิชา Stat 1 >> F

# Loop (วนซ้ำ)

```python
for each_member in listA:
     do something
```

In [21]:
for i in [1,2,3]:
     print(i)

1
2
3

In [22]:
for i in 'Songklot':
     print(f'{i} -> /') #ทีละตัว
     print(' ') #ช่องว่าง

S -> /

o -> /

n -> /

g -> /

k -> /

l -> /

o -> /

t -> /

### 1 สร้าง list ชื่อเพื่อนที่อยู่ในแถวยาวเดียวกัน
###    1.5 วนลูป print ประโยคว่า xxx yyy zzz (เรา รัก เพื่อน) ทุกคนในแถวยาว
### 2 วนลูปเรียก function โดยเปลี่ยนชื่อเพื่อนไปเรื่อยๆ

In [23]:
list_b = ['นกยูง','นัท','โด้','เกด','ฟาง','ไอซ์','แบงค์']

### Function in loop

In [24]:
for b in list_b:
     print(f'บอสส์ รัก {b} ')
     print(' ')

บอสส์ รัก นกยูง

บอสส์ รัก นัท

บอสส์ รัก โด้

บอสส์ รัก เกด

บอสส์ รัก ฟาง

บอสส์ รัก ไอซ์

บอสส์ รัก แบงค์

In [25]:
def print_feeling(I,feeling,friend):
      print(f'{I}{feeling}{friend}')

In [26]:
print_feeling('บอสส์','รัก','นกยูง')

บอสส์รักนกยูง

In [27]:
for b in list_b:
      print_feeling('บอสส์','รัก',b)

บอสส์รักนกยูง
บอสส์รักนัท
บอสส์รักโด้
บอสส์รักเกด
บอสส์รักฟาง
บอสส์รักไอซ์
บอสส์รักแบงค์

### Loop in function

In [28]:
def print_feelings(I,feeling,friend):
      for b in friend:
            print(f'{I}{feeling}{b}')

In [29]:
print_feelings('บอสส์','รัก',list_b)

บอสส์รักนกยูง
บอสส์รักนัท
บอสส์รักโด้
บอสส์รักเกด
บอสส์รักฟาง
บอสส์รักไอซ์
บอสส์รักแบงค์

## Looping in dict

In [30]:
name_grade = {'ทรงกลด':'A','ศุภนิตา':'B','ปนัดดา':'C','พันทิพา':'F'}
name_grade

{'ทรงกลด': 'A', 'ศุภนิตา': 'B', 'ปนัดดา': 'C', 'พันทิพา': 'F'}

In [31]:
name_grade['ปนัดดา']

'C'

In [32]:
name_grade.keys()

dict_keys(['ทรงกลด', 'ศุภนิตา', 'ปนัดดา', 'พันทิพา'])

In [33]:
for i in name_grade.keys():
      print(f'{i} ได้เกรด {name_grade[i]}')

ทรงกลด ได้เกรด A
ศุภนิตา ได้เกรด B
ปนัดดา ได้เกรด C
พันทิพา ได้เกรด F

## Loop in loop

In [34]:
for name1 in list_b:
    for name2 in list_b:
          print_feeling(name1,'รัก',name2)

นกยูงรักนกยูง
นกยูงรักนัท
นกยูงรักโด้
นกยูงรักเกด
นกยูงรักฟาง
นกยูงรักไอซ์
นกยูงรักแบงค์
นัทรักนกยูง
นัทรักนัท
นัทรักโด้
นัทรักเกด
นัทรักฟาง
นัทรักไอซ์
นัทรักแบงค์
โด้รักนกยูง
โด้รักนัท
โด้รักโด้
โด้รักเกด
โด้รักฟาง
โด้รักไอซ์
โด้รักแบงค์
เกดรักนกยูง
เกดรักนัท
เกดรักโด้
เกดรักเกด
เกดรักฟาง
เกดรักไอซ์
เกดรักแบงค์
ฟางรักนกยูง
ฟางรักนัท
ฟางรักโด้
ฟางรักเกด
ฟางรักฟาง
ฟางรักไอซ์
ฟางรักแบงค์
ไอซ์รักนกยูง
ไอซ์รักนัท
ไอซ์รักโด้
ไอซ์รักเกด
ไอซ์รักฟาง
ไอซ์รักไอซ์
ไอซ์รักแบงค์
แบงค์รักนกยูง
แบงค์รักนัท
แบงค์รักโด้
แบงค์รักเกด
แบงค์รักฟาง
แบงค์รักไอซ์
แบงค์รักแบงค์

# Conditional (เงื่อนไข)

# == , != , >= , <= , > , <

```python
if condition1:
    do something
elif condition2:
    do another thing
else: 
    do ...
```

In [35]:
for name1 in list_b:
    for name2 in list_b:
        if name1 != name2:
          print_feeling(name1,'รัก',name2)

นกยูงรักนัท
นกยูงรักโด้
นกยูงรักเกด
นกยูงรักฟาง
นกยูงรักไอซ์
นกยูงรักแบงค์
นัทรักนกยูง
นัทรักโด้
นัทรักเกด
นัทรักฟาง
นัทรักไอซ์
นัทรักแบงค์
โด้รักนกยูง
โด้รักนัท
โด้รักเกด
โด้รักฟาง
โด้รักไอซ์
โด้รักแบงค์
เกดรักนกยูง
เกดรักนัท
เกดรักโด้
เกดรักฟาง
เกดรักไอซ์
เกดรักแบงค์
ฟางรักนกยูง
ฟางรักนัท
ฟางรักโด้
ฟางรักเกด
ฟางรักไอซ์
ฟางรักแบงค์
ไอซ์รักนกยูง
ไอซ์รักนัท
ไอซ์รักโด้
ไอซ์รักเกด
ไอซ์รักฟาง
ไอซ์รักแบงค์
แบงค์รักนกยูง
แบงค์รักนัท
แบงค์รักโด้
แบงค์รักเกด
แบงค์รักฟาง
แบงค์รักไอซ์

In [36]:
if True:
    print('Yes')

Yes

In [37]:
if False:
    print('No')

In [38]:
if False:
    print('Yes')
else:
    print('No')

No

In [39]:
1 == 1

True

In [40]:
if 1 == 1:
    print('1=1')

1=1

# HW 
เขียน funcion ตัดเกรด โดยที่ input เป็น คะแนน(0-100) output เป็น เกรด(F-A)

input = [1,50,65,90,101,-5,49]

In [1]:
def grade(i):
    if i < 50:
        print(f'{i} get F')
    elif 50 >= i < 55:
        print(f'{i} get D')
    elif 55 >= i < 60:
        print(f'{i} get D+')
    elif 60 >= i < 65:
        print(f'{i} get C')
    elif 65 >= i < 70:
        print(f'{i} get C+')
    elif 70 >= i < 75:
        print(f'{i} get B')
    elif 75 >= i < 80:
        print(f'{i} get B+')
    else:
        print(f'{i} get A')

In [2]:
grade(1)
grade(50)
grade(65)
grade(90)
grade(101)
grade(-5)
grade(49)

1 get F
50 get D
65 get C+
90 get A
101 get A
-5 get F
49 get F